body{
    background-color: antiquewhite;

    h1{
        text-align: center;
        color: rgb(197, 27, 223);
    };

    h2{
        text-align: center;
        color: blueviolet;
    };

    .tabla-contenedor{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    };

    .u table{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        border-collapse: collapse;
                width: 60%;
                margin:auto;
    };

    .u td, th{
        border: 1px solid rgb(18, 208, 84);
    };

    .d table{
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-collapse: collapse;
        width: 40%;
        margin:auto;
    };

    .d td, th{
        border: 3px solid rgb(241, 99, 17);
    };

    .t table{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 40%;
        margin:auto;
    };

    .t td, th{
        border: 3px solid rgb(22, 180, 233);
    };

    
    .c table{
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-collapse: collapse;
        width: 40%;
        margin:auto;
    };

    .c td, th{
        border: 3px solid rgb(206, 241, 6);
    };

    
    .q table{
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-collapse: collapse;
        width: 40%;
        margin:auto;
    };

    .q td, th{
        border: 3px solid rgb(163, 4, 4);
    };

    
    .s table{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-collapse: collapse;
        width: 40%;
        margin:auto;
    };

    .s td, th{
        border: 3px solid rgb(13, 209, 128);
    };

    
    .se table{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-collapse: collapse;
        width: 40%;
        margin:auto;
    };

    .se td, th{
        border: 3px solid rgb(115, 52, 241);
    };

    
    .o table{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 40%;
        margin:auto;
    };

    .o td, th{
        border: 3px solid rgb(183, 150, 7);
    };

    
    .n table{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-collapse: collapse;
        width: 40%;
        margin:auto;
    };

    .n td, th{
        border: 3px solid rgb(203, 103, 3);
    };

    
    .de table{
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-collapse: collapse;
        width: 40%;
        margin:auto;
    };

    .de td, th{
        border: 3px solid rgb(156, 7, 51);
    };
};