body{
    background-color: antiquewhite;


    h1{
        text-align: center;
        color: rgb(197, 27, 223);
    };

    h2{
        text-align: center;
        color: blueviolet
    };

    table{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 40%;
        margin:auto;
    };

    td, th{
        border: 1px solid black;
    };
};