#cabecera {
    width:100%;  
    height:100px;
    background-color:#2f00ff;
    color:#aaa700;
    text-align: right;
    font-family: fantasy;
    font-size:50px;
    font-weight:bold; 
  }

  body { 
  background-color:#2f00ff;
}  