
body{
    height: 1000px;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(171, 63, 204),rgb(143, 7, 206));

.contenedor{
    margin: 5px auto;
    width: 400px;
    height: 500px;
    padding: 30px;
    background: pink;
    border-radius: 10px;
};

.contenedor h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: rgb(228, 11, 145);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
};

.contenedor .elemento label{
    color: rgb(240, 33, 205);
};

.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-top: 30px;
};

.contenedor .elemento input[type="submit"]{
    background-color: rgb(223, 15, 205);
    border: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
};
};
